/* * {
  border: 1px solid red;
} */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HOME WRAPPER*/

.wrapper-home {
  display: flex;
  flex-direction: column;

  width: 58rem;
  margin-bottom: 1em;
}

.wrapper-home > a {
  margin: 10px 0 15px auto; /* ms-auto */
  color: white;
  text-decoration: none;
}

.wrapper-home > ul > li:nth-child(1) > div {
  border-top: 2px rgba(199, 199, 199, 0.362) solid !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* LOADING */

.loading {
  border: 2px rgba(199, 199, 199, 0.362) solid;
  background-color: red;
  margin: 0 auto;
  width: 8em;
  border-radius: 2px;
}

.loading p {
  text-align: center;
  font-size: larger;
  font-weight: 700;
  margin: 0;
  color: aliceblue;
}

@media (max-width: 720px) {
  .wrapper-home {
    width: auto;
  }
}

@media (min-width: 720px) and (max-width: 900px) {
  .wrapper-home {
    width: 90%;
  }
}
