/* * {
  border: 1px solid red;
} */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HOME WRAPPER*/

.wrapper-home {
  display: flex;
  flex-direction: column;
  width: 58rem;
}

.wrapper-home > a {
  margin: 10px 0 15px auto;
  color: white;
  text-decoration: none; /* ms-auto */
}

.wrapper-home > div:nth-child(2) {
  border-top: 2px rgba(199, 199, 199, 0.362) solid !important;
}
